@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/samarkan');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Margarine&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "PT Serif", serif;
  scroll-behavior: smooth;
  /* background-color: #f2eae3; */
 
    background-color: rgb(231, 252, 233);

}

.home{
  background-image: url('Vector 1 (1).svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  background-attachment: fixed;
}


@media (max-width:768px) {
  body{
    background-size: contain;
    height: 100vh;
  }
  
}

/* .loginphoto{
  background-image: url('pexels-brigitte-tohm-36757-239581.jpg');

} */

.title{
  font-family: "samarkan";
    font-weight: 600;
  font-size: large;
  font-style: normal;
  text-decoration-style: dotted;
}
.navb{
  /* background-image: url(https://images.unsplash.com/photo-1459933083533-46381576caa9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
} */

}
.navi{
 color: #0c0c01;
font-size: larger;
font-weight: 500;
  font-family:"Margarine";
 
}
.photo:hover{
  /* box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25); */

  
}

#search{
  margin-top: 5.5rem;

  font-family: Margarine;
  background-color: rgba(171, 209, 223, 0.315);
  outline: none;
}
.caption-box{
  background-color: rgb(213, 234, 234);
  border-radius: 2rem;
}

.caption{
  font-family:"Margarine";
color: rgb(9, 77, 7);
}

.image{
  background-color: aqua;
}

@media(max-width:768px){

  #search{
    padding: 10px;
    width: 90vw;
  }
}
  

@media(max-width:390px){

.card{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.caption{
  font-size: small;
   
 }
.image{
  height: 250px;
}

}
  

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

  }

}
  

@layer base {
  * {
    @apply border-border;

  }
  body {
    @apply bg-background text-foreground;

  }

}
